/* discription style for all documents */
html {
    width: 100%;
    height: 100%;
}
.mainPage {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mainPage_margin {
    margin: 0;
}

/* discription style common container for all page */
@media screen and (min-width: 320px) and (max-width: 1279px) {
    .page__box {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1280px) {
.page__box {
    border: 0.5px solid black;
    /* width: 66.666%; */
    width: 1280px;
    max-width: 1280px;
    height: 1080px;
    max-height: 1080px;
}
    .header{
        width: 100%;
        /* height: 16.63%; */
        border: 1px solid red;
        height: 180px;
        display: flex;
        justify-content: space-between;
    }
        .wrap__section_header{
            width: 100%;
            display: flex;
        }
    .content {
        display: flex;
        /* height: 70.370%; */
        border: 1px solid green;
        width: 100%;
        height: 760px;
    }
        .wrap__section_content{
            display: flex;
            justify-content: space-between;
        }
    .bottom {
        /* height: 13%; */
        border: 1px solid blue;
        width: 100%;
        height: 140px;
    }
        .wrap__section_bottom{
            display: flex;
            justify-content: center;
        }
    .aside__left, .aside__right{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
        height: 760px;
        width: 128px;
    }
    .icon_mouse {
        animation:1s blinker linear infinite;
    }
        @keyframes blinker {
            0% { opacity: 1.0; }
            50% { opacity: 0.0; }
            100% { opacity: 1.0; }
        }
}